.actors
  -actors.each do |actor|
    %table.table.table-sm.table-inverse
      %thead
        %tr
          %td
            =link_to "#{actor.decorate.full_name}", actor_path(actor)
            = link_to edit_actor_path(actor), { title: t('shared.edit') } do
              %button.btn.btn-default.index-button
                = fa_icon "edit"
            = link_to actor_path(actor), { method: :delete, data: { :confirm => 'Are you sure?' },  title: t('shared.delete') } do
              %button.btn.btn-default.index-button
                = fa_icon "times"
      %tbody
        %tr
          -actor.decorate.three_movies.each do |movie|
            %td=link_to movie.name


