-movies.each do |movie|
  %table.table.table-sm.table-inverse
    %thead
      %tr
        %th=link_to "#{movie.name}", movie_path(movie)
        %th
          = link_to edit_movie_path(movie), { title: t('shared.edit') } do
            %button.btn.btn-default.index-button
              = fa_icon "edit"
          = link_to movie_path(movie), { method: :delete, data: { :confirm => 'Are you sure?' },  title: t('shared.delete') } do
            %button.btn.btn-default.index-button
              = fa_icon "times"
    %tbody
      %tr
        %td= movie.revenue
        %td= movie.genre


